@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <p>This is a website for all of the films deemed worthy to be part of Joel Hilton's Film Collection.</p>
    <br />

    <img src="~/1.jpg" width="500" />

</div>

<br />
<a asp-action="FilmSubmission">Click here to add a film to the collection!</a>
<br />
<br />
<a asp-action="FilmCollection">Click here to see the films in the collection!</a>
<br />
<br />
<a asp-action="MyPodcasts">Click here to check out my podcasts!</a>
<br />
<br />